body {
    font-family: 'Cousine', monospace;
    /* background: lightcoral; */
    height: 100%;
}

html {
    height: 100%;
}

#test {
    height: 100%;
}


.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

#messages {
    max-height: 100%;
    overflow-y: auto;
}

#message {
}