html {
    height: 100%;
}


body {
    font-family: 'Cousine', monospace;
    height: 100%;
    color: #B7410E;
    background-color: black;
}

#root {
    height: 100%;
}

.container-fluid {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

#messages {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

hr {
    border-top: 1px solid rgba(183,65,14,.4);
}