<!doctype html>
<html lang=en>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138094311-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-138094311-1');
	</script>

	<title>THRUSTIN 🦀 THRUST in the Blank</title>
	<meta charset="UTF-8">
	<meta name="description" content="Web-based on-line command-line multi-player THRUST-in-the-blank game inspired by Cards Against Humanity. THRUSTED in Rust and React. 🦀">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="msvalidate.01" content="932A4FC8B1A700E751BD731E1650A101" />
	<link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">

	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
	<link rel="apple-touch-icon" href="/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/favicon-144.png">
	<meta name="msapplication-config" content="/browserconfig.xml">
</head>

<body>
	<div id="root">
		<div class="container-fluid"><div id="messages"><div class="mr-3" style="color: rgb(183, 65, 14); background-color: rgb(0, 0, 0);"><div class="py-3"><h1 class="mb-0"><img alt="THRUSTIN" src="favicon-96.png"></h1></div><hr class="m-0" style="border-top: 1px solid rgba(183, 65, 14, 0.533);"></div><div class="mr-3" style="color: rgb(183, 65, 14); background-color: rgb(0, 0, 0);"><div class="py-3"><div class="mb-1"><strong>THRUSTY</strong> 5:42:13 PM</div><div>Welcome to THRUSTIN! I'm THRUSTY, your trusty guide to THRUSTING! Yeah aite THRUSTIN is a really neat THRUST in the blank game similar to Cards Against Humanity and you can make your own THRUSTS and play them in this console terminal shell interface web format in lobbies. Yeah it's lit thanks to our swaggy devs <a href="https://osu.ppy.sh/users/1472763">max</a>, <a href="https://osu.ppy.sh/users/3071659">alex</a>, <a href="https://osu.ppy.sh/users/2747929">royce</a>. Ok enter '.help' below if you need some more help (obviously). If you wanta keep up with our development check us out on <a href="https://github.com/maxrchung/THRUSTIN/">GitHub.com</a> and <a href="https://twitter.com/THRUSTIN_rs?iloveducks">Twitter.com</a>.</div></div><hr class="m-0" style="border-top: 1px solid rgba(183, 65, 14, 0.533);"></div><div></div></div><div class="rbt clearfix open" tabindex="-1" style="position: relative;"><div class="rbt-input-hint-container" style="position: relative;"><input type="text" aria-autocomplete="both" aria-expanded="true" aria-haspopup="listbox" autocomplete="nope" placeholder="Enter command..." role="combobox" class="rbt-input-main form-control rbt-input " value="" aria-owns="commandBar"><div class="rbt-input-hint" style="left: 0px; pointer-events: none; position: absolute; top: 0px; display: inline-block;"><input aria-hidden="true" readonly="" tabindex="-1" value="" style="background-color: transparent; border-color: transparent; box-shadow: none; color: rgba(0, 0, 0, 0.35); box-sizing: content-box; width: 3px; border-style: none; border-width: 0px; font-size: 14.4px; line-height: 21.6px; margin: 0px; padding: 4.5px 0px;"><div style="height: 0px; left: 0px; overflow: scroll; position: absolute; top: 0px; visibility: hidden; white-space: pre; font-size: 14.4px; font-family: Cousine, monospace; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;"></div></div></div><div aria-atomic="true" aria-live="polite" class="sr-only rbt-sr-status" role="status">4 results. Use up and down arrow keys to navigate.</div><ul class="rbt-menu dropdown-menu show" id="commandBar" role="listbox" style="position: absolute; display: block; max-height: 300px; overflow: auto; will-change: transform; width: 833px; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);"><li aria-label=".help" aria-selected="false" id="rbt-menu-item-0" role="option" class=""><a class="dropdown-item" href="#"><span>.help</span></a></li><li aria-label=".name" aria-selected="false" id="rbt-menu-item-1" role="option" class=""><a class="dropdown-item" href="#"><span>.name</span></a></li><li aria-label=".login" aria-selected="false" id="rbt-menu-item-2" role="option" class=""><a class="dropdown-item" href="#"><span>.login</span></a></li><li aria-label=".register" aria-selected="false" id="rbt-menu-item-3" role="option" class=""><a class="dropdown-item" href="#"><span>.register</span></a></li></ul></div></div>
	</div>
</body>

</html>